{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: #e00201;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

    .btn-primary {
        background-color: #e00201;
    }

    .btn:hover {
        background-color: #5e5e5e;
    }

    .masthead {
        background-color: #ffffff;
    }
</style>
    {% if searched %}
    <div class="container">
        <div class="row">
            {% if searched_articles %}
                <!-- Blog Entries Column -->
                <h1>You searched for {{ searched}}</h1>
                <br/>
                <div class="col-md-12 mt-3 left"></div>
                    {% for post in searched_articles %}
                        <div class="card mb-4">
                            <div class="card-body">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                                <p class="card-text">{{post.content|slice:":200" }}</p>
                                <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
            {% else %}
                <h1>No articles match your search</h1>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <h1>Enter a search term</h1>
    
        </div>
    </div>
    {% endif %}
{%endblock%}