{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
        <!-- EDIT AND DELETE -->
        <!-- only buttons if the post was written by the user -->
        {% if user.is_authenticated and post.author == request.user %}
          <!-- redirect user -->
          <a href="{% url 'post_edit' post.slug  %}" class="btn btn-info">Edit Post</a>
          <a href="{% url 'post_delete' post.slug  %}" class="btn btn-danger">Delete Post</a>
        {% endif %}
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>

</div>

{% endblock content %}
